# ID Verification

## Introduction&#x20;

At the backend, the ID provided (functional or foundational) during registration is verified by submitting the demographic details and ID number by calling APIs of the corresponding ID system. The response from the ID system could be a _yes/no_ response with optional data like ID token and KYC details.

## Verification of MOSIP ID

##
