{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://esignet.explore.openg2p.org/v1/esignet","description":"Generated server url"}],"paths":{"/client-mgmt/oidc-client/{client_id}":{"put":{"tags":["client-management-controller"],"operationId":"updateClient","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperClientDetailUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperClientDetailResponse"}}}}},"deprecated":true}},"/client-mgmt/oauth-client/{client_id}":{"put":{"tags":["client-management-controller"],"operationId":"updateOAuthClient","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperClientDetailUpdateRequestV2"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperClientDetailResponse"}}}}}}},"/vci/credential":{"post":{"tags":["vc-issuance-controller"],"operationId":"getCredential","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CredentialResponse"}}}}}}},"/system-info/uploadCertificate":{"post":{"tags":["system-info-controller"],"operationId":"uploadSignedCertificate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperUploadCertificateRequestDto"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperUploadCertificateResponseDto"}}}}}}},"/oauth/v2/token":{"post":{"tags":["o-auth-controller"],"operationId":"getTokenV2","parameters":[{"name":"paramMap","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MultiValueMapStringString"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/oauth/token":{"post":{"tags":["o-auth-controller"],"operationId":"getToken","parameters":[{"name":"paramMap","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MultiValueMapStringString"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/linked-authorization/v2/link-transaction":{"post":{"tags":["linked-authorization-controller"],"operationId":"linkTransactionV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkTransactionRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkTransactionResponseV2"}}}}}}},"/linked-authorization/v2/consent":{"post":{"tags":["linked-authorization-controller"],"operationId":"saveConsentV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkedConsentRequestV2"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkedConsentResponse"}}}}}}},"/linked-authorization/v2/authenticate":{"post":{"tags":["linked-authorization-controller"],"operationId":"authenticateV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkedKycAuthRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkedKycAuthResponseV2"}}}}}}},"/linked-authorization/send-otp":{"post":{"tags":["linked-authorization-controller"],"operationId":"sendOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOtpRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOtpResponse"}}}}}}},"/linked-authorization/link-transaction":{"post":{"tags":["linked-authorization-controller"],"operationId":"linkTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkTransactionRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkTransactionResponse"}}}}},"deprecated":true}},"/linked-authorization/link-status":{"post":{"tags":["linked-authorization-controller"],"operationId":"getLinkStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkStatusRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkStatusResponse"}}}}}}},"/linked-authorization/link-code":{"post":{"tags":["linked-authorization-controller"],"operationId":"generateLinkCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkCodeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkCodeResponse"}}}}}}},"/linked-authorization/link-auth-code":{"post":{"tags":["linked-authorization-controller"],"operationId":"getAuthCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkAuthCodeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkAuthCodeResponse"}}}}}}},"/linked-authorization/consent":{"post":{"tags":["linked-authorization-controller"],"operationId":"saveConsent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkedConsentRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkedConsentResponse"}}}}}}},"/linked-authorization/authenticate":{"post":{"tags":["linked-authorization-controller"],"operationId":"authenticate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkedKycAuthRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkedKycAuthResponse"}}}}}}},"/client-mgmt/oidc-client":{"post":{"tags":["client-management-controller"],"operationId":"createClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperClientDetailCreateRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperClientDetailResponse"}}}}},"deprecated":true}},"/client-mgmt/oauth-client":{"post":{"tags":["client-management-controller"],"operationId":"createOAuthClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperClientDetailCreateRequestV2"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperClientDetailResponse"}}}}}}},"/binding/wallet-binding":{"post":{"tags":["key-binding-controller"],"operationId":"bindWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperWalletBindingRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperWalletBindingResponse"}}}}}}},"/binding/binding-otp":{"post":{"tags":["key-binding-controller"],"operationId":"sendBindingOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperBindingOtpRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOtpResponse"}}}}}}},"/authorization/v3/authenticate":{"post":{"tags":["authorization-controller"],"operationId":"authenticateEndUserV3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperAuthRequestV2"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperAuthResponseV2"}}}}}}},"/authorization/v2/oauth-details":{"post":{"tags":["authorization-controller"],"operationId":"getOauthDetailsV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOAuthDetailRequestV2"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOAuthDetailResponseV2"}}}}}}},"/authorization/v2/authenticate":{"post":{"tags":["authorization-controller"],"operationId":"authenticateEndUserV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperAuthRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperAuthResponseV2"}}}}}}},"/authorization/send-otp":{"post":{"tags":["authorization-controller"],"operationId":"sendOtp_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOtpRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOtpResponse"}}}}}}},"/authorization/oauth-details":{"post":{"tags":["authorization-controller"],"operationId":"getOauthDetails","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOAuthDetailRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOAuthDetailResponse"}}}}},"deprecated":true}},"/authorization/authenticate":{"post":{"tags":["authorization-controller"],"operationId":"authenticateEndUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperAuthRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperAuthResponse"}}}}}}},"/authorization/auth-code":{"post":{"tags":["authorization-controller"],"operationId":"getAuthorizationCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperAuthCodeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperAuthCodeResponse"}}}}}}},"/vci/.well-known/openid-credential-issuer":{"get":{"tags":["vc-issuance-controller"],"operationId":"getMetadata","parameters":[{"name":"version","in":"query","required":false,"schema":{"type":"string","default":"latest"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/system-info/certificate":{"get":{"tags":["system-info-controller"],"operationId":"getCertificate","parameters":[{"name":"applicationId","in":"query","required":true,"schema":{"type":"string"}},{"name":"referenceId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperKeyPairGenerateResponseDto"}}}}}}},"/oidc/userinfo":{"get":{"tags":["open-id-connect-controller"],"operationId":"getUserInfo","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"application/jwt":{"schema":{"type":"string"}}}}}}},"/oidc/.well-known/openid-configuration":{"get":{"tags":["open-id-connect-controller"],"operationId":"getDiscoveryEndpoints","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/oauth/.well-known/oauth-authorization-server":{"get":{"tags":["o-auth-controller"],"operationId":"getOAuthServerDiscoveryInfo","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/oauth/.well-known/jwks.json":{"get":{"tags":["o-auth-controller"],"operationId":"getAllJwks","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/csrf/token":{"get":{"tags":["csrf-controller"],"operationId":"getCsrfToken","parameters":[{"name":"csrfToken","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CsrfToken"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VCError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CsrfToken"}}}}}}}},"components":{"schemas":{"VCError":{"type":"object","properties":{"error":{"type":"string"},"error_description":{"type":"string"},"c_nonce":{"type":"string"},"c_nonce_expires_in":{"type":"integer","format":"int32"}}},"ClientDetailUpdateRequest":{"required":["authContextRefs","clientAuthMethods","clientName","grantTypes","logoUri","redirectUris","status","userClaims"],"type":"object","properties":{"logoUri":{"type":"string"},"redirectUris":{"maxItems":5,"minItems":1,"type":"array","items":{"type":"string"}},"userClaims":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"authContextRefs":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"status":{"pattern":"^(ACTIVE)|(INACTIVE)$","type":"string"},"grantTypes":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientName":{"maxLength":256,"minLength":0,"type":"string"},"clientAuthMethods":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}}}},"RequestWrapperClientDetailUpdateRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/ClientDetailUpdateRequest"}}},"ClientDetailResponse":{"type":"object","properties":{"clientId":{"type":"string"},"status":{"type":"string"}}},"Error":{"type":"object","properties":{"errorCode":{"type":"string"},"errorMessage":{"type":"string"}}},"ResponseWrapperClientDetailResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/ClientDetailResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"ClientDetailUpdateRequestV2":{"required":["authContextRefs","clientAuthMethods","clientName","clientNameLangMap","grantTypes","logoUri","redirectUris","status","userClaims"],"type":"object","properties":{"logoUri":{"type":"string"},"redirectUris":{"maxItems":5,"minItems":1,"type":"array","items":{"type":"string"}},"userClaims":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"authContextRefs":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"status":{"pattern":"^(ACTIVE)|(INACTIVE)$","type":"string"},"grantTypes":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientName":{"maxLength":256,"minLength":0,"type":"string"},"clientAuthMethods":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientNameLangMap":{"type":"object","additionalProperties":{"type":"string"}}}},"RequestWrapperClientDetailUpdateRequestV2":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/ClientDetailUpdateRequestV2"}}},"CredentialDefinition":{"required":["type"],"type":"object","properties":{"type":{"type":"array","items":{"type":"string"}},"credentialSubject":{"type":"object","additionalProperties":{"type":"object"}},"@context":{"type":"array","items":{"type":"string"}}}},"CredentialProof":{"required":["proof_type"],"type":"object","properties":{"proof_type":{"type":"string"},"jwt":{"type":"string"},"cwt":{"type":"string"}}},"CredentialRequest":{"required":["credential_definition","format","proof"],"type":"object","properties":{"format":{"type":"string"},"proof":{"$ref":"#/components/schemas/CredentialProof"},"credential_definition":{"$ref":"#/components/schemas/CredentialDefinition"}}},"CredentialResponse":{"type":"object","properties":{"format":{"type":"string"},"credential":{"type":"object"},"acceptance_token":{"type":"string"},"c_nonce":{"type":"string"},"c_nonce_expires_in":{"type":"integer","format":"int32"}}},"RequestWrapperUploadCertificateRequestDto":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/UploadCertificateRequestDto"}}},"UploadCertificateRequestDto":{"required":["applicationId","certificateData"],"type":"object","properties":{"applicationId":{"type":"string"},"referenceId":{"type":"string"},"certificateData":{"type":"string"}}},"ResponseWrapperUploadCertificateResponseDto":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/UploadCertificateResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"UploadCertificateResponseDto":{"type":"object","properties":{"status":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"MultiValueMapStringString":{"type":"object","properties":{"all":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true},"empty":{"type":"boolean"}},"additionalProperties":{"type":"array","items":{"type":"string"}}},"TokenResponse":{"type":"object","properties":{"id_token":{"type":"string"},"token_type":{"type":"string"},"access_token":{"type":"string"},"expires_in":{"type":"integer","format":"int32"},"c_nonce":{"type":"string"},"c_nonce_expires_in":{"type":"integer","format":"int32"}}},"LinkTransactionRequest":{"required":["linkCode"],"type":"object","properties":{"linkCode":{"type":"string"}}},"RequestWrapperLinkTransactionRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkTransactionRequest"}}},"AuthenticationFactor":{"type":"object","properties":{"type":{"type":"string"},"count":{"type":"integer","format":"int32"},"subTypes":{"type":"array","items":{"type":"string"}}}},"LinkTransactionResponseV2":{"type":"object","properties":{"linkTransactionId":{"type":"string"},"logoUrl":{"type":"string"},"authFactors":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/AuthenticationFactor"}}},"authorizeScopes":{"type":"array","items":{"type":"string"}},"essentialClaims":{"type":"array","items":{"type":"string"}},"voluntaryClaims":{"type":"array","items":{"type":"string"}},"configs":{"type":"object","additionalProperties":{"type":"object"}},"clientName":{"type":"object","additionalProperties":{"type":"string"}},"credentialScopes":{"type":"array","items":{"type":"string"}}}},"ResponseWrapperLinkTransactionResponseV2":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkTransactionResponseV2"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkedConsentRequestV2":{"required":["linkedTransactionId"],"type":"object","properties":{"linkedTransactionId":{"type":"string"},"acceptedClaims":{"type":"array","items":{"type":"string"}},"permittedAuthorizeScopes":{"type":"array","items":{"type":"string"}},"signature":{"type":"string"}}},"RequestWrapperLinkedConsentRequestV2":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkedConsentRequestV2"}}},"LinkedConsentResponse":{"type":"object","properties":{"linkedTransactionId":{"type":"string"}}},"ResponseWrapperLinkedConsentResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkedConsentResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthChallenge":{"required":["authFactorType","challenge","format"],"type":"object","properties":{"authFactorType":{"type":"string"},"challenge":{"type":"string"},"format":{"type":"string"}}},"LinkedKycAuthRequest":{"required":["challengeList","individualId","linkedTransactionId"],"type":"object","properties":{"linkedTransactionId":{"type":"string"},"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}}}},"RequestWrapperLinkedKycAuthRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkedKycAuthRequest"}}},"LinkedKycAuthResponseV2":{"type":"object","properties":{"linkedTransactionId":{"type":"string"},"consentAction":{"type":"string","enum":["CAPTURE","NOCAPTURE"]}}},"ResponseWrapperLinkedKycAuthResponseV2":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkedKycAuthResponseV2"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"OtpRequest":{"required":["individualId","otpChannels","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"individualId":{"type":"string"},"otpChannels":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"type":"string"}},"captchaToken":{"type":"string"}}},"RequestWrapperOtpRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/OtpRequest"}}},"OtpResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"maskedEmail":{"type":"string"},"maskedMobile":{"type":"string"}}},"ResponseWrapperOtpResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/OtpResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkTransactionResponse":{"type":"object","properties":{"linkTransactionId":{"type":"string"},"logoUrl":{"type":"string"},"authFactors":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/AuthenticationFactor"}}},"authorizeScopes":{"type":"array","items":{"type":"string"}},"essentialClaims":{"type":"array","items":{"type":"string"}},"voluntaryClaims":{"type":"array","items":{"type":"string"}},"configs":{"type":"object","additionalProperties":{"type":"object"}}}},"ResponseWrapperLinkTransactionResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkTransactionResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkStatusRequest":{"required":["linkCode","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"linkCode":{"type":"string"}}},"RequestWrapperLinkStatusRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkStatusRequest"}}},"LinkStatusResponse":{"type":"object","properties":{"linkStatus":{"type":"string"}}},"ResponseWrapperLinkStatusResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkStatusResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkCodeRequest":{"required":["transactionId"],"type":"object","properties":{"transactionId":{"type":"string"}}},"RequestWrapperLinkCodeRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkCodeRequest"}}},"LinkCodeResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"linkCode":{"type":"string"},"expireDateTime":{"type":"string"}}},"ResponseWrapperLinkCodeResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkCodeResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkAuthCodeRequest":{"required":["linkedCode","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"linkedCode":{"type":"string"}}},"RequestWrapperLinkAuthCodeRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkAuthCodeRequest"}}},"LinkAuthCodeResponse":{"type":"object","properties":{"nonce":{"type":"string"},"state":{"type":"string"},"code":{"type":"string"},"redirectUri":{"type":"string"}}},"ResponseWrapperLinkAuthCodeResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkAuthCodeResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkedConsentRequest":{"required":["linkedTransactionId"],"type":"object","properties":{"linkedTransactionId":{"type":"string"},"acceptedClaims":{"type":"array","items":{"type":"string"}},"permittedAuthorizeScopes":{"type":"array","items":{"type":"string"}}}},"RequestWrapperLinkedConsentRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkedConsentRequest"}}},"LinkedKycAuthResponse":{"type":"object","properties":{"linkedTransactionId":{"type":"string"}}},"ResponseWrapperLinkedKycAuthResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkedKycAuthResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"ClientDetailCreateRequest":{"required":["authContextRefs","clientAuthMethods","clientName","grantTypes","logoUri","publicKey","redirectUris","userClaims"],"type":"object","properties":{"clientId":{"maxLength":100,"minLength":0,"type":"string"},"clientName":{"maxLength":256,"minLength":0,"type":"string"},"publicKey":{"type":"object","additionalProperties":{"type":"object"}},"relyingPartyId":{"maxLength":100,"minLength":0,"type":"string"},"userClaims":{"maxItems":30,"minItems":0,"type":"array","items":{"type":"string"}},"authContextRefs":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"logoUri":{"type":"string"},"redirectUris":{"maxItems":5,"minItems":1,"type":"array","items":{"type":"string"}},"grantTypes":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientAuthMethods":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}}}},"RequestWrapperClientDetailCreateRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/ClientDetailCreateRequest"}}},"ClientDetailCreateRequestV2":{"required":["authContextRefs","clientAuthMethods","clientName","clientNameLangMap","grantTypes","logoUri","publicKey","redirectUris","userClaims"],"type":"object","properties":{"clientId":{"maxLength":100,"minLength":0,"type":"string"},"clientName":{"maxLength":256,"minLength":0,"type":"string"},"publicKey":{"type":"object","additionalProperties":{"type":"object"}},"relyingPartyId":{"maxLength":100,"minLength":0,"type":"string"},"userClaims":{"maxItems":30,"minItems":0,"type":"array","items":{"type":"string"}},"authContextRefs":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"logoUri":{"type":"string"},"redirectUris":{"maxItems":5,"minItems":1,"type":"array","items":{"type":"string"}},"grantTypes":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientAuthMethods":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientNameLangMap":{"type":"object","additionalProperties":{"type":"string"}}}},"RequestWrapperClientDetailCreateRequestV2":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/ClientDetailCreateRequestV2"}}},"RequestWrapperWalletBindingRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/WalletBindingRequest"}}},"WalletBindingRequest":{"required":["authFactorType","challengeList","format","individualId","publicKey"],"type":"object","properties":{"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}},"publicKey":{"type":"object","additionalProperties":{"type":"object"}},"authFactorType":{"type":"string"},"format":{"type":"string"}}},"ResponseWrapperWalletBindingResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/WalletBindingResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"WalletBindingResponse":{"type":"object","properties":{"walletUserId":{"type":"string"},"certificate":{"type":"string"},"expireDateTime":{"type":"string"}}},"BindingOtpRequest":{"required":["individualId","otpChannels"],"type":"object","properties":{"individualId":{"type":"string"},"otpChannels":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"type":"string"}}}},"RequestWrapperBindingOtpRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/BindingOtpRequest"}}},"AuthRequestV2":{"required":["challengeList","individualId","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}},"captchaToken":{"type":"string"}}},"RequestWrapperAuthRequestV2":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/AuthRequestV2"}}},"AuthResponseV2":{"type":"object","properties":{"transactionId":{"type":"string"},"consentAction":{"type":"string","enum":["CAPTURE","NOCAPTURE"]}}},"ResponseWrapperAuthResponseV2":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/AuthResponseV2"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"ClaimDetail":{"type":"object","properties":{"value":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"essential":{"type":"boolean"}}},"Claims":{"type":"object","properties":{"userinfo":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ClaimDetail"}},"id_token":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ClaimDetail"}}}},"OAuthDetailRequestV2":{"required":["clientId"],"type":"object","properties":{"clientId":{"type":"string"},"scope":{"type":"string"},"responseType":{"type":"string"},"redirectUri":{"type":"string"},"display":{"type":"string"},"prompt":{"type":"string"},"nonce":{"type":"string"},"state":{"type":"string"},"acrValues":{"type":"string"},"maxAge":{"type":"integer","format":"int32"},"claims":{"$ref":"#/components/schemas/Claims"},"claimsLocales":{"type":"string"},"uiLocales":{"type":"string"},"codeChallenge":{"type":"string"},"codeChallengeMethod":{"type":"string"}}},"RequestWrapperOAuthDetailRequestV2":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/OAuthDetailRequestV2"}}},"OAuthDetailResponseV2":{"type":"object","properties":{"transactionId":{"type":"string"},"logoUrl":{"type":"string"},"authFactors":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/AuthenticationFactor"}}},"authorizeScopes":{"type":"array","items":{"type":"string"}},"essentialClaims":{"type":"array","items":{"type":"string"}},"voluntaryClaims":{"type":"array","items":{"type":"string"}},"configs":{"type":"object","additionalProperties":{"type":"object"}},"redirectUri":{"type":"string"},"clientName":{"type":"object","additionalProperties":{"type":"string"}},"credentialScopes":{"type":"array","items":{"type":"string"}}}},"ResponseWrapperOAuthDetailResponseV2":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/OAuthDetailResponseV2"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthRequest":{"required":["challengeList","individualId","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}}}},"RequestWrapperAuthRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/AuthRequest"}}},"OAuthDetailRequest":{"required":["clientId"],"type":"object","properties":{"clientId":{"type":"string"},"scope":{"type":"string"},"responseType":{"type":"string"},"redirectUri":{"type":"string"},"display":{"type":"string"},"prompt":{"type":"string"},"nonce":{"type":"string"},"state":{"type":"string"},"acrValues":{"type":"string"},"maxAge":{"type":"integer","format":"int32"},"claims":{"$ref":"#/components/schemas/Claims"},"claimsLocales":{"type":"string"},"uiLocales":{"type":"string"}}},"RequestWrapperOAuthDetailRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/OAuthDetailRequest"}}},"OAuthDetailResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"logoUrl":{"type":"string"},"authFactors":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/AuthenticationFactor"}}},"authorizeScopes":{"type":"array","items":{"type":"string"}},"essentialClaims":{"type":"array","items":{"type":"string"}},"voluntaryClaims":{"type":"array","items":{"type":"string"}},"configs":{"type":"object","additionalProperties":{"type":"object"}},"redirectUri":{"type":"string"}}},"ResponseWrapperOAuthDetailResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/OAuthDetailResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthResponse":{"type":"object","properties":{"transactionId":{"type":"string"}}},"ResponseWrapperAuthResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/AuthResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthCodeRequest":{"required":["transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"acceptedClaims":{"type":"array","items":{"type":"string"}},"permittedAuthorizeScopes":{"type":"array","items":{"type":"string"}}}},"RequestWrapperAuthCodeRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/AuthCodeRequest"}}},"AuthCodeResponse":{"type":"object","properties":{"nonce":{"type":"string"},"state":{"type":"string"},"code":{"type":"string"},"redirectUri":{"type":"string"}}},"ResponseWrapperAuthCodeResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/AuthCodeResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"KeyPairGenerateResponseDto":{"type":"object","properties":{"certificate":{"type":"string"},"certSignRequest":{"type":"string"},"issuedAt":{"type":"string","format":"date-time"},"expiryAt":{"type":"string","format":"date-time"},"timestamp":{"type":"string","format":"date-time"}}},"ResponseWrapperKeyPairGenerateResponseDto":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/KeyPairGenerateResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"CsrfToken":{"type":"object","properties":{"token":{"type":"string"},"parameterName":{"type":"string"},"headerName":{"type":"string"}}}}}}