{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api-internal.mec.mosip.net/v1/esignet","description":"Generated server url"}],"paths":{"/client-mgmt/oidc-client/{client_id}":{"put":{"tags":["client-management-controller"],"operationId":"updateClient","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperClientDetailUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperClientDetailResponse"}}}}}}},"/system-info/uploadCertificate":{"post":{"tags":["system-info-controller"],"operationId":"uploadSignedCertificate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperUploadCertificateRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperUploadCertificateResponseDto"}}}}}}},"/oauth/token":{"post":{"tags":["o-auth-controller"],"operationId":"getToken","parameters":[{"name":"paramMap","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MultiValueMapStringString"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/linked-authorization/send-otp":{"post":{"tags":["linked-authorization-controller"],"operationId":"sendOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOtpResponse"}}}}}}},"/linked-authorization/link-transaction":{"post":{"tags":["linked-authorization-controller"],"operationId":"linkTransaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkTransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkTransactionResponse"}}}}}}},"/linked-authorization/link-status":{"post":{"tags":["linked-authorization-controller"],"operationId":"getLinkStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkStatusResponse"}}}}}}},"/linked-authorization/link-code":{"post":{"tags":["linked-authorization-controller"],"operationId":"generateLinkCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkCodeResponse"}}}}}}},"/linked-authorization/link-auth-code":{"post":{"tags":["linked-authorization-controller"],"operationId":"getAuthCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkAuthCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkAuthCodeResponse"}}}}}}},"/linked-authorization/consent":{"post":{"tags":["linked-authorization-controller"],"operationId":"saveConsent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkedConsentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkedConsentResponse"}}}}}}},"/linked-authorization/authenticate":{"post":{"tags":["linked-authorization-controller"],"operationId":"authenticate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperLinkedKycAuthRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperLinkedKycAuthResponse"}}}}}}},"/client-mgmt/oidc-client":{"post":{"tags":["client-management-controller"],"operationId":"createClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperClientDetailCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperClientDetailResponse"}}}}}}},"/binding/wallet-binding":{"post":{"tags":["key-binding-controller"],"operationId":"bindWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperWalletBindingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperWalletBindingResponse"}}}}}}},"/binding/binding-otp":{"post":{"tags":["key-binding-controller"],"operationId":"sendBindingOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperBindingOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOtpResponse"}}}}}}},"/authorization/send-otp":{"post":{"tags":["authorization-controller"],"operationId":"sendOtp_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOtpResponse"}}}}}}},"/authorization/oauth-details":{"post":{"tags":["authorization-controller"],"operationId":"getOauthDetails","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperOAuthDetailRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperOAuthDetailResponse"}}}}}}},"/authorization/authenticate":{"post":{"tags":["authorization-controller"],"operationId":"authenticateEndUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperAuthRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperAuthResponse"}}}}}}},"/authorization/auth-code":{"post":{"tags":["authorization-controller"],"operationId":"getAuthorizationCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestWrapperAuthCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperAuthCodeResponse"}}}}}}},"/system-info/certificate":{"get":{"tags":["system-info-controller"],"operationId":"getCertificate","parameters":[{"name":"applicationId","in":"query","required":true,"schema":{"type":"string"}},{"name":"referenceId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseWrapperKeyPairGenerateResponseDto"}}}}}}},"/oidc/userinfo":{"get":{"tags":["open-id-connect-controller"],"operationId":"getUserInfo","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/jwt":{"schema":{"type":"string"}}}}}}},"/oidc/.well-known/openid-configuration":{"get":{"tags":["open-id-connect-controller"],"operationId":"getDiscoveryEndpoints","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/oauth/.well-known/jwks.json":{"get":{"tags":["o-auth-controller"],"operationId":"getAllJwks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/csrf/token":{"get":{"tags":["csrf-controller"],"operationId":"getCsrfToken","parameters":[{"name":"csrfToken","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CsrfToken"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CsrfToken"}}}}}}}},"components":{"schemas":{"ClientDetailUpdateRequest":{"required":["authContextRefs","clientAuthMethods","clientName","grantTypes","logoUri","redirectUris","status","userClaims"],"type":"object","properties":{"logoUri":{"type":"string"},"redirectUris":{"maxItems":5,"minItems":1,"type":"array","items":{"type":"string"}},"userClaims":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"authContextRefs":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"status":{"pattern":"^(ACTIVE)|(INACTIVE)$","type":"string"},"grantTypes":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientName":{"maxLength":256,"minLength":0,"type":"string"},"clientAuthMethods":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}}}},"RequestWrapperClientDetailUpdateRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/ClientDetailUpdateRequest"}}},"ClientDetailResponse":{"type":"object","properties":{"clientId":{"type":"string"},"status":{"type":"string"}}},"Error":{"type":"object","properties":{"errorCode":{"type":"string"},"errorMessage":{"type":"string"}}},"ResponseWrapperClientDetailResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/ClientDetailResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"RequestWrapperUploadCertificateRequestDto":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/UploadCertificateRequestDto"}}},"UploadCertificateRequestDto":{"required":["applicationId","certificateData"],"type":"object","properties":{"applicationId":{"type":"string"},"referenceId":{"type":"string"},"certificateData":{"type":"string"}}},"ResponseWrapperUploadCertificateResponseDto":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/UploadCertificateResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"UploadCertificateResponseDto":{"type":"object","properties":{"status":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"MultiValueMapStringString":{"type":"object","properties":{"all":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true},"empty":{"type":"boolean"}},"additionalProperties":{"type":"array","items":{"type":"string"}}},"TokenResponse":{"type":"object","properties":{"id_token":{"type":"string"},"token_type":{"type":"string"},"access_token":{"type":"string"},"expires_in":{"type":"integer","format":"int32"}}},"OtpRequest":{"required":["individualId","otpChannels","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"individualId":{"type":"string"},"otpChannels":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"type":"string"}},"captchaToken":{"type":"string"}}},"RequestWrapperOtpRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/OtpRequest"}}},"OtpResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"maskedEmail":{"type":"string"},"maskedMobile":{"type":"string"}}},"ResponseWrapperOtpResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/OtpResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkTransactionRequest":{"required":["linkCode"],"type":"object","properties":{"linkCode":{"type":"string"}}},"RequestWrapperLinkTransactionRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkTransactionRequest"}}},"AuthenticationFactor":{"type":"object","properties":{"type":{"type":"string"},"count":{"type":"integer","format":"int32"},"subTypes":{"type":"array","items":{"type":"string"}}}},"LinkTransactionResponse":{"type":"object","properties":{"linkTransactionId":{"type":"string"},"clientName":{"type":"string"},"logoUrl":{"type":"string"},"authFactors":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/AuthenticationFactor"}}},"authorizeScopes":{"type":"array","items":{"type":"string"}},"essentialClaims":{"type":"array","items":{"type":"string"}},"voluntaryClaims":{"type":"array","items":{"type":"string"}},"configs":{"type":"object","additionalProperties":{"type":"object"}}}},"ResponseWrapperLinkTransactionResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkTransactionResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkStatusRequest":{"required":["linkCode","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"linkCode":{"type":"string"}}},"RequestWrapperLinkStatusRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkStatusRequest"}}},"LinkStatusResponse":{"type":"object","properties":{"linkStatus":{"type":"string"}}},"ResponseWrapperLinkStatusResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkStatusResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkCodeRequest":{"required":["transactionId"],"type":"object","properties":{"transactionId":{"type":"string"}}},"RequestWrapperLinkCodeRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkCodeRequest"}}},"LinkCodeResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"linkCode":{"type":"string"},"expireDateTime":{"type":"string"}}},"ResponseWrapperLinkCodeResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkCodeResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkAuthCodeRequest":{"required":["linkedCode","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"linkedCode":{"type":"string"}}},"RequestWrapperLinkAuthCodeRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkAuthCodeRequest"}}},"LinkAuthCodeResponse":{"type":"object","properties":{"nonce":{"type":"string"},"state":{"type":"string"},"code":{"type":"string"},"redirectUri":{"type":"string"}}},"ResponseWrapperLinkAuthCodeResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkAuthCodeResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"LinkedConsentRequest":{"required":["linkedTransactionId"],"type":"object","properties":{"linkedTransactionId":{"type":"string"},"acceptedClaims":{"type":"array","items":{"type":"string"}},"permittedAuthorizeScopes":{"type":"array","items":{"type":"string"}}}},"RequestWrapperLinkedConsentRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkedConsentRequest"}}},"LinkedConsentResponse":{"type":"object","properties":{"linkedTransactionId":{"type":"string"}}},"ResponseWrapperLinkedConsentResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkedConsentResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthChallenge":{"required":["authFactorType","challenge","format"],"type":"object","properties":{"authFactorType":{"type":"string"},"challenge":{"type":"string"},"format":{"type":"string"}}},"LinkedKycAuthRequest":{"required":["challengeList","individualId","linkedTransactionId"],"type":"object","properties":{"linkedTransactionId":{"type":"string"},"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}}}},"RequestWrapperLinkedKycAuthRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/LinkedKycAuthRequest"}}},"LinkedKycAuthResponse":{"type":"object","properties":{"linkedTransactionId":{"type":"string"}}},"ResponseWrapperLinkedKycAuthResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/LinkedKycAuthResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"ClientDetailCreateRequest":{"required":["authContextRefs","clientAuthMethods","clientName","grantTypes","logoUri","publicKey","redirectUris","userClaims"],"type":"object","properties":{"clientId":{"maxLength":100,"minLength":0,"type":"string"},"clientName":{"maxLength":256,"minLength":0,"type":"string"},"publicKey":{"type":"object","additionalProperties":{"type":"object"}},"relyingPartyId":{"maxLength":100,"minLength":0,"type":"string"},"userClaims":{"maxItems":30,"minItems":0,"type":"array","items":{"type":"string"}},"authContextRefs":{"maxItems":30,"minItems":1,"type":"array","items":{"type":"string"}},"logoUri":{"type":"string"},"redirectUris":{"maxItems":5,"minItems":1,"type":"array","items":{"type":"string"}},"grantTypes":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}},"clientAuthMethods":{"maxItems":3,"minItems":1,"type":"array","items":{"type":"string"}}}},"RequestWrapperClientDetailCreateRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/ClientDetailCreateRequest"}}},"RequestWrapperWalletBindingRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/WalletBindingRequest"}}},"WalletBindingRequest":{"required":["authFactorType","challengeList","format","individualId","publicKey"],"type":"object","properties":{"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}},"publicKey":{"type":"object","additionalProperties":{"type":"object"}},"authFactorType":{"type":"string"},"format":{"type":"string"}}},"ResponseWrapperWalletBindingResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/WalletBindingResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"WalletBindingResponse":{"type":"object","properties":{"walletUserId":{"type":"string"},"certificate":{"type":"string"},"expireDateTime":{"type":"string"}}},"BindingOtpRequest":{"required":["individualId","otpChannels"],"type":"object","properties":{"individualId":{"type":"string"},"otpChannels":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"type":"string"}}}},"RequestWrapperBindingOtpRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/BindingOtpRequest"}}},"ClaimDetail":{"type":"object","properties":{"value":{"type":"string"},"values":{"type":"array","items":{"type":"string"}},"essential":{"type":"boolean"}}},"Claims":{"type":"object","properties":{"userinfo":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ClaimDetail"}},"id_token":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ClaimDetail"}}}},"OAuthDetailRequest":{"required":["clientId","redirectUri"],"type":"object","properties":{"clientId":{"type":"string"},"scope":{"type":"string"},"responseType":{"type":"string"},"redirectUri":{"type":"string"},"display":{"type":"string"},"prompt":{"type":"string"},"nonce":{"type":"string"},"state":{"type":"string"},"acrValues":{"type":"string"},"maxAge":{"type":"integer","format":"int32"},"claims":{"$ref":"#/components/schemas/Claims"},"claimsLocales":{"type":"string"},"uiLocales":{"type":"string"}}},"RequestWrapperOAuthDetailRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/OAuthDetailRequest"}}},"OAuthDetailResponse":{"type":"object","properties":{"transactionId":{"type":"string"},"clientName":{"type":"string"},"logoUrl":{"type":"string"},"authFactors":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/AuthenticationFactor"}}},"authorizeScopes":{"type":"array","items":{"type":"string"}},"essentialClaims":{"type":"array","items":{"type":"string"}},"voluntaryClaims":{"type":"array","items":{"type":"string"}},"configs":{"type":"object","additionalProperties":{"type":"object"}},"redirectUri":{"type":"string"}}},"ResponseWrapperOAuthDetailResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/OAuthDetailResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthRequest":{"required":["challengeList","individualId","transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"individualId":{"type":"string"},"challengeList":{"maxItems":5,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/AuthChallenge"}}}},"RequestWrapperAuthRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/AuthRequest"}}},"AuthResponse":{"type":"object","properties":{"transactionId":{"type":"string"}}},"ResponseWrapperAuthResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/AuthResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"AuthCodeRequest":{"required":["transactionId"],"type":"object","properties":{"transactionId":{"type":"string"},"acceptedClaims":{"type":"array","items":{"type":"string"}},"permittedAuthorizeScopes":{"type":"array","items":{"type":"string"}}}},"RequestWrapperAuthCodeRequest":{"required":["request"],"type":"object","properties":{"requestTime":{"type":"string"},"request":{"$ref":"#/components/schemas/AuthCodeRequest"}}},"AuthCodeResponse":{"type":"object","properties":{"nonce":{"type":"string"},"state":{"type":"string"},"code":{"type":"string"},"redirectUri":{"type":"string"}}},"ResponseWrapperAuthCodeResponse":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/AuthCodeResponse"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"KeyPairGenerateResponseDto":{"type":"object","properties":{"certificate":{"type":"string"},"certSignRequest":{"type":"string"},"issuedAt":{"type":"string","format":"date-time"},"expiryAt":{"type":"string","format":"date-time"},"timestamp":{"type":"string","format":"date-time"}}},"ResponseWrapperKeyPairGenerateResponseDto":{"type":"object","properties":{"responseTime":{"type":"string"},"response":{"$ref":"#/components/schemas/KeyPairGenerateResponseDto"},"errors":{"type":"array","items":{"$ref":"#/components/schemas/Error"}}}},"CsrfToken":{"type":"object","properties":{"headerName":{"type":"string"},"token":{"type":"string"},"parameterName":{"type":"string"}}}}}}